.container{
    margin:100px 100px 100px 100px;
    text-align:center;
}
.grid{
   display:flex;
   justify-content: space-between;
   margin-top:2rem;

}
.grid__item{
    width: 50%;
    text-align: left;
}
.title{
    color:#2F4F4F;
    font-size: 3rem;
}

.new-task input{
    width:30%;
    height:2rem;

}
.tasks{
    margin-left:25rem;
}

.checkbox{
    width: 1.3rem;
    height: 1.3rem;
    background-color: white;
    border-radius: 50%;
    vertical-align:middle;
    border: 1px solid;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 1.2rem;
    margin-right:1rem;
    
}
.checkbox:checked {
    background-color: #2C3E50;
}
label{
    vertical-align: middle;
}
.delete-button{
    background-color: white;
    border:none;
    margin-bottom: .5rem;
}
.delete-button img{
    width:1.8rem;
}
.delete-button:active{
    transform: translateY(4px);
}
.delete-button:focus{
    outline: none;
}





