.container{
    margin:auto;
    text-align:center;
}
.grid{
   display:flex;
   justify-content: space-between;
}
.grid__item{
    width: 50%;

}
.title{
    color:#2F4F4F;
    font-size: 3rem;
}

.new-task input{
    width:30%;
    height:2rem;

}
.task-box{
    margin:2rem 5rem 2rem 28rem;
}

.checkbox{
    width: 1.3rem;
    height: 1.3rem;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 1.2rem;
    margin-right:1rem;
    
}
.checkbox:checked {
    background-color: #2C3E50;
}
.delete-button{
    background-color: white;
    border:none;
    margin-bottom: .5rem;
}
.delete-button img{
    width:1.8rem;
}
.delete-button:active{
    transform: translateY(4px);
}
.delete-button:focus{
    outline: none;
}
ul{
    text-align: center;
}
li{
    list-style-type: none;
    text-align: left;
    
}
li label{
    font-size: 1.5rem;
}




